*
{
  box-sizing: border-box;
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  font-size: 30px;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*Pages*/



.pages{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/*login page*/

.loginPage{

	background-color: blue;
}

.loginPage .form{
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.loginPage .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.loginPage .title, .loginPage.usernameInput {
  color: blue;
  font-weight: 100;
}

/*Chatroom*/
.chatroom_page{
	 display: none;
}

.chatArea{
  text-align: center;
}

.chatArea ul{
  list-style-type: none;
}


/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

span.username {
  font-weight: bold;
  color: red;
  padding-right: 10px;
}


/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}

.chatroom_page {
  text-align: center;
}
