.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.login_page{

	background-color: #000;
}

.login_page .form{
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}